
# Ignore all
/*

# Except ...
!.github
!PyMieSim
!development
!docs
!tests
!.flake8
!.gitignore
!.pre-commit-config.yaml
!LICENSE
!meta.yaml
!pyproject.toml
!README.rst
!notebook.ipynb
!CMakeLists.txt
!.coveragerc
!pytest.ini

# But ignore docs/build inside docs and code
docs/build/
docs/source/gallery/

# Compiled files in the project
*__pycache__*
*.DS_Store*
*.so*
*.a*
