*.DS_store
*.ipynb_checkpoints*
*__pycache__*
*.so
*.a

.tox
.coverage*
.coveragerc
coverage.json
*.pytest_cache


dist
build
*.egg*
*.whl
perso/

docs/source/Gallery

CMakeCache.txt
CMakeFiles
install_manifest.txt
cmake_install.cmake