include README.rst
include requirements.txt
include PyMieSim/*.cpp
include PyMieSim/*.h
include PyMieSim/CMakeLists.txt

include PyMieSim/LMT/includes/SpecialFunc.h
include PyMieSim/LMT/includes/BaseClass.h
include PyMieSim/LMT/includes/utils.h
include PyMieSim/LMT/includes/BaseFunc.h

include PyMieSim/LMT/includes/SpecialFunc.cpp
include PyMieSim/LMT/includes/BaseClass.cpp
include PyMieSim/LMT/includes/utils.cpp
include PyMieSim/LMT/includes/BaseFunc.cpp


include PyMieSim/GLMT/cpp/GaussianBeam.cpp
include PyMieSim/GLMT/cpp/Cylinder.cpp
include PyMieSim/GLMT/cpp/Sphere.cpp
include PyMieSim/GLMT/cpp/Interface.cpp


include PyMieSim/LMT/cpp/*.cpp

include PyMieSim/includes/*.h


include PyMieSim/*.so
include PyMieSim/LMT/*.so
include PyMieSim/LMT/Scatterer.cpython-38-x86_64-linux-gnu.so
