graft PyMieSim
graft tests

include PyMieSim/binary/*
include MANIFEST.in
include LICENSE
include PyMieSim/VERSION
include README.rst
include setup.py
include setup.cfg
include pyproject.toml

global-exclude __pycache__
global-exclude .DS_Store

exclude *.ipynb
exclude *.txt
exclude *.yaml
exclude *.yml
exclude .git*
