setuptools
wheel
numpy
scipy
pyvista
matplotlib
DataVisual
Jinja2==3.1.2
numpydoc==1.5.0
Sphinx==5.1.1
sphinx-gallery==0.11.0
docutils==0.17.1
sphinx-rtd-theme==1.0.0
pytest>=0.6
pytest-cov>=2.0
pytest-json-report
coverage
PyMieScatt
PyOptik