setuptools
wheel
numpy
scipy
pyvista
matplotlib
DataVisual
PyOptik
tabulate

numpydoc==1.6.0
sphinx>=5.1.1
sphinx-gallery>=0.11.1
sphinx-rtd-theme>=1.0.0
docutils==0.20.1
pydata-sphinx-theme

pytest>=0.6
pytest-cov>=2.0
pytest-json-report
coverage
numpydoc
pymiescatt