name: Deploy to PyPi

on:
  push:
    branches: [ "master" ]
    tags:
      - '*'
  pull_request:
    branches: [ "master" ]

permissions:
    contents: write

jobs:
    ManyLinux_x86_64:
        runs-on: ubuntu-latest
        steps:
          - uses: MartinPdeS/MPSActions/build_package_for_manylinux@master

    macos_x86_64:
        runs-on: macos-latest
        steps:
          - uses: maxim-lobanov/setup-xcode@v1
            with:
                xcode-version: '15.3'
          - uses: MartinPdeS/MPSActions/build_package_for_MacOS@master

    Windows_x86_64:
        runs-on: windows-latest
        steps:
          - uses: MartinPdeS/MPSActions/build_package_for_Windows@master

    publish_wheel:
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        needs: [Windows_x86_64, ManyLinux_x86_64, macos_x86_64]
        runs-on: ubuntu-latest
        steps:
          - uses: MartinPdeS/MPSActions/publish_pypi@master
            with:
                python-version: "3.10"
                password: ${{ secrets.PYPI_API_TOKEN }}
