name: Deploy Conda Packages

on:
  push:
    branches: [ "master" ]
    tags: '*'
  pull_request:
    branches: [ "master" ]

permissions:
    contents: write

jobs:
  linux:
    uses: MartinPdeS/MPSActions/.github/workflows/publish_compiled_package_to_anaconda.yml@master
    with:
      python_versions: '["3.11", "3.12", "3.13"]'
      apt_package: ""
      os_list: '["ubuntu-latest", "macos-latest"]'
    secrets:
      ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
